.footer {
    position: fixed;
    top: 75;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }
  .footer:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
  }
  
  #title {
    font-size: 7vw;
  }
  
  #daycount {
    font-size: 3vw;
  }
  
  #footer-text {
      font-size: 15px;
  }